nav{
	background-color: #f77d0c;
	height: 45px;
}
nav ul{
	margin-left: 2%;
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
}
nav ul li{
	margin-top: 12px;
	margin-left: 12px;
	padding-left: 12px;
	border-left: 1px solid #C9640C;
}
nav ul li a{
	text-decoration: none;
	color: white;
}
nav ul li a:hover{
	color: black;
}
nav ul li ul{
	display: block;
	position: absolute;
	margin-left: -10px;
	padding-right: 20px;
	padding-bottom: 10px;
	visibility: hidden;
	background-color: #B0580B;
}
nav ul li:hover ul{
	visibility: visible;
}	
nav ul li ul li{
	margin-left: -25px;
}

#bt_menu{
	display: none;
}
label[for="bt_menu"]{
	padding: 5px;
	text-align: left;
	font-size: 30px;
	cursor: pointer;
	height: 50px;
	display: none;
}
@media screen and (max-width:750px){
	header{
		display: flex;
		background-color: #f77d0c;
	}
	label[for="bt_menu"]{
		display: flex;
	}
	#bt_menu:checked ~ nav{
		margin-left: -10px;
		height: auto;
	}
	nav{
		margin-left: -100%;
		transition: all 0s;
		height: 0;
		display: block;
	}
	nav ul{
		display: block;
	}
	nav ul li{
		width: 100%;
	}
	nav ul ul{
		position: static;
		overflow: hidden;
		max-height: 0;
		transform: all 4s;
	}
	nav ul li:hover ul{
		height: auto;
		max-height: 200px;
	}
	nav ul li{
		display: block;
	}
	nav ul li ul{
		margin-left: 100px;
		margin-top: -25px;
	}
}